.app {
    text-align: center;
  }

  .task-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    border: 7px solid #ccc;
    
  }

  .container-child {
    display: inline-block;
    width: 23%;
    border: 1px solid #ccc;
    padding: 10px;
    margin-left:20px;
    margin-right:20px;
    height: 800px;
    overflow-y: scroll;

  }

  .task-list {
    flex: 1;
    margin: 0 10px;
  }

  .tasks-column {
    flex: 1;
    margin: 0 10px;
  }

  .task-ux{
    background-color: aquamarine;
  }

.task-devfrontend{
    background-color: skyblue;
  }

.task-devbackend{
    background-color: peachPuff;
  }

  .task {
    position: relative;
    display: block;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid green;
    border-radius: 5px;
    text-align: left;
  }

  .history-image {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  
  .history {
    display: none;
    position: absolute;
    top: 40px;
    right: 10px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .history-image:hover .history,
  .history-image:hover + .history {
    z-index: 1;
    display: block;
  }






  .task-done {
    display: block;
    padding: 10px;
    margin: 10px 0;
    border: 7px solid green;
  }

  .task-todo {
    display: block;
    padding: 10px;
    margin: 10px 0;
    border: 7px solid blue;
  }

  .task-inprogress {
    display: block;
    padding: 10px;
    margin: 10px 0;
    border: 7px solid orange;
  }

  .task-archive {
    display: block;
    padding: 10px;
    margin: 10px 0;
    border: 7px solid red;
  }

